[submodule "front_end"]
	path = front_end
	url = https://github.com/AkankshaRakeshJain/residential_mortgage_securities_credit_rating
[submodule "frontend"]
	path = frontend
	url = https://github.com/AkankshaRakeshJain/residential_mortgage_securities_credit_rating
